<!-- Main Ctrl as Ctrl -->
<ion-scroll>
<div class="list card">

  <div class="item">
    <h2>{{ctrl.data.current_observation.display_location.city}} {{ctrl.data.current_observation.temp_f}}°F</h2>
    <h2>Feels Like: {{ctrl.data.current_observation.feelslike_f}}°F</h2>
    <h4>{{ctrl.data.current_observation.observation_time}}</h4>
  </div>

	<div class="item item-image">
    <img class="full-image" src="css/imgs/icons/{{ctrl.data.current_observation.icon}}.svg" style="height: 200px; width: 200px;">
  </div>

  <div class="item">
    <div class="item item-text-wrap">
      <h3>
      Forecast: {{ctrl.data.forecast.txt_forecast.forecastday[0].fcttext}}
    </h3>
  </div>

	<div class="item">
    <h2>High: {{ctrl.data.forecast.simpleforecast.forecastday[0].high.fahrenheit}}°F</h2>
    <h2>Low: {{ctrl.data.forecast.simpleforecast.forecastday[0].low.fahrenheit}}°F</h2>
  </div>

	<div class="item">
		<h2>5 Day Forecast:</h2>
		<h3>{{day.weekday}}: {{day.conditions}}</h3>

		<div class="list" ng-repeat="day in ctrl.data.forecast.simpleforecast.forecastday">

	    <a class="item item-thumbnail-left" href="#">
	      <img src="css/imgs/icons/{{day.icon}}.svg">
	      <h2>{{day.date.weekday}}:</h2>
	      <p>{{day.conditions}}</p>
	      <p>HIGH {{day.high.fahrenheit}}</p>
	      <p>LOW {{day.low.fahrenheit}}</p>
	    </a>
		</div>
  </div>


  <div class="item">
    <h2>Previous Searches</h2>
    <p ng-repeat="(key, value) in ctrl.searchHistory" ng-click="ctrl.callAPIWithLatLong({{value.lat}}, {{value.lng}})">{{key}}</p>
  </div>


</div>
</ion-scroll>



