<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="css/ionic.app.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>

  </head>
  <body ng-app="weather">
    <ion-pane ng-controller="MainCtrl as ctrl">
      <div class="bar bar-header bar-dark item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="ctrl.searchQuery" ng-keypress="ctrl.startSearch($event)">
        </label>
        <button class="button button-clear" ng-click="ctrl.search()">
          Search
        </button>
      </div>
        <ion-content class="has-header">
          <ion-nav-view>
          </ion-nav-view>
        </ion-content>
      <ion-footer-bar class="bar-dark">
        <h1 class="title">Powered By: Weather Underground <a href="http://www.wunderground.com/"><img style="width: 65px; height: 40px;" src="http://icons.wxug.com/graphics/wu2/logo_130x80.png" alt="www.wunderground.com"></a></h1>
      </ion-footer-bar>
    </ion-pane>
  </body>
</html>
